*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.tooltip {
    position: relative;
    display: inline-block;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    text-align: center;
   

  
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
  }


  .content {
    display: none;
  }
  .tab-btn.active {
    color: #2caeba;
    box-shadow: -2px 0 #2caeba;
  }
  .content.active {
    display: block;
  }
  
  @media only screen and (max-width: 800px){
    .tab-btn.active{
      box-shadow: 0 2px #2caeba;
      
    }
  }